{{#if siteSettings.signatures_enabled}}
  <div class="control-group signatures">
    <label class="control-label">{{i18n "signatures.enable_signatures"}}</label>
    <div class="controls">
      <label class="checkbox-label">
        {{input type="checkbox" checked=model.see_signatures}}
        {{i18n "signatures.show_signatures"}}
      </label>
    </div>
  </div>

  <div class="control-group signatures">
    <label class="control-label">{{i18n "signatures.my_pkmn_1"}}</label>
    <div class="controls">
        <label class="text-label">
          {{input type="text" class="input-xxlarge" value=model.custom_fields.signature_pkmn_1}}
        </label>
    </div>
  </div>

  <div class="control-group signatures">
    <label class="control-label">{{i18n "signatures.my_pkmn_2"}}</label>
    <div class="controls">
        <label class="text-label">
          {{input type="text" class="input-xxlarge" value=model.custom_fields.signature_pkmn_2}}
        </label>
    </div>
  </div>

  <div class="control-group signatures">
    <label class="control-label">{{i18n "signatures.my_pkmn_3"}}</label>
    <div class="controls">
        <label class="text-label">
          {{input type="text" class="input-xxlarge" value=model.custom_fields.signature_pkmn_3}}
        </label>
    </div>
  </div>

  <div class="control-group signatures">
    <label class="control-label">{{i18n "signatures.my_pkmn_4"}}</label>
    <div class="controls">
        <label class="text-label">
          {{input type="text" class="input-xxlarge" value=model.custom_fields.signature_pkmn_4}}
        </label>
    </div>
  </div>

  <div class="control-group signatures">
    <label class="control-label">{{i18n "signatures.my_pkmn_5"}}</label>
    <div class="controls">
        <label class="text-label">
          {{input type="text" class="input-xxlarge" value=model.custom_fields.signature_pkmn_5}}
        </label>
    </div>
  </div>

  <div class="control-group signatures">
    <label class="control-label">{{i18n "signatures.my_pkmn_6"}}</label>
    <div class="controls">
        <label class="text-label">
          {{input type="text" class="input-xxlarge" value=model.custom_fields.signature_pkmn_6}}
        </label>
    </div>
  </div>
{{/if}}
